---
Checks: "*,
        -hicpp-*,
        -altera-*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -modernize-use-trailing-return-type,
        -llvm*,
        -header-filter=/src/.*,
        -readability-uppercase-literal-suffix*,
        -hicpp-uppercase-literal-suffix*,
        -misc-non-private-member-variables-in-classes*,
        -cppcoreguidelines-pro-type-union-access*,
        -misc-non-private-member-variables-in-classes*,
        -cppcoreguidelines-non-private-member-variables-in-classes*,
        -cppcoreguidelines-avoid-magic-numbers,
        readability-magic-numbers*,
        -readability-magic-numbers*,
        -readability-implicit-bool-conversion*,
        -cppcoreguidelines-pro-type-reinterpret-cast*,
        -misc-no-recursion*,
        -performance-no-int-to-ptr*,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic*,
        -cppcoreguidelines-pro-type-vararg*,
        -misc-unused-parameters*"
WarningsAsErrors: "-*"
HeaderFilterRegex: ""
FormatStyle: none
