# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#apple
.DS_Store

#windows
Thumbs.db

# Run time
bin/
lib/
#vscode
.vscode/
*.code-workspace

#Visual Studio
.vs/
*.vcxpro*
*.sln
**/.idea/
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
*.pc
**/Testing/
**/_build/
**/build/
**/Testing/
dependencies/assimp/revision.h
**/cmake-build-*/
!/src/**/*.obj
